

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'cocktails.jpg' %>');" >
    <h1>Best Miss Cocktail</h1>
    <p>Le plus beau des sites de cocktails du Wagon</p>

</div>

  <div class="container">

    <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.attached? %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
          <%= link_to cocktail.name, cocktail, class: "cocktail-name" %>
      </div>
    <% end %>
  <% end %>
    </div>

  <%= link_to 'Create a new cocktail', new_cocktail_path, class: "btn btn-ghost" %>

  </div>
