<h1>New cocktails</h1>

<div class="container">
<div class="col-6 offset-3">
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit 'Ajouter', class: 'btn btn-primary btn-block' %>
  <% end %>
  <%= link_to 'Back', cocktails_path %>
</div>
</div>
