.formulaire {
  background-color: white;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.1);
  width: 500px;
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  display: flex;
  margin: 40px auto;
  padding-top : 24px;
}
